<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<center>
<div class="container mt-4 bg-dark">
    <form method="post">
        {% csrf_token %}

  <div class="mb-3">
    <label class="form-label">Phone</label>
    <input type="text" class="form-control" name="phone">
  </div>

   <div class="mb-3">
    <label class="form-label">Address</label>
    <input type="text" class="form-control" name="address">
  </div>

        <div class="mb-3">
    <label class="form-label">Pin</label>
    <input type="number" class="form-control" name="pin">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
</center>

{% endblock %}